doctype html
html
  head
    meta(charset="utf-8")
    |   
    title demo
    |   
    link(href="/static/css/app.a87db6f57d24d4cc462cbb5015025e52.css", rel="stylesheet")
  body
    #app
    |   
    script(type="text/javascript", src="/static/js/manifest.fd258dc86538f5de016e.js")
    |   
    script(type="text/javascript", src="/static/js/vendor.0e09064fa6dd1aa0276b.js")
    |   
    script(type="text/javascript", src="/static/js/app.c64ebc67fbf5d0d72f4a.js")
